/*******************************************
 *** Configuration
 ******************************************/
@ROOM_HEIGHT: 250px;
@ROOM_WIDTH: 200px;

@ROOM_CEILING_HEIGHT: 40px;
@ROOM_FLOOR_HEIGHT: 60px;

@DARK_BACKGROUND: #222;
@DARK_BACKGROUND_TEXT: #DDD;

/*******************************************
 *** Helper mixins
 ******************************************/
.attention_bar() {
    background: @DARK_BACKGROUND;
    color: @DARK_BACKGROUND_TEXT;
    border-radius: 5px;
    padding: 5px;
}

/*******************************************
 *** Room style helper
 ******************************************/
.base_roomtype_color( @type, @color ) {
    .room_@{type} {
        perspective: 200px;
        overflow: hidden;

        .room_ceiling {
            background: lighten( @color, 5% );
        }
        .room_floor {
            background: darken( @color, 10% );
        }
        .room_content {
            background: @color;
        }
    }
}

/*******************************************
 *** Room styles
 ******************************************/
.base_roomtype_color( conversion, #777 );
.base_roomtype_color( research, #444 );

.room_conversion {
    .room_floor {
        background: url('/assets/dark_wood_floor.png');
        background-size: 64px;
    }
    .room_ceiling {
        background: url('/assets/lab_ceiling.png');
    }
}
.room_research {
    .room_floor {
        background: url('/assets/wood_floor.png');
        background-size: 64px;
    }
    .room_ceiling {
        background: url('/assets/lab_ceiling.png');
    }
}

body {
    margin-top: 50px;
}

.room_level {
    height: @ROOM_HEIGHT;
    margin: auto;
    background: #222;
    position: relative;
}

/*******************************************
 *** Base room styling and perspective
 ******************************************/
.room {
    height: @ROOM_HEIGHT;
    position: absolute;
}
.room_ceiling, .room_floor {
    position: absolute;
    z-index: 0;

    width: 200%;
    height: 200px;
}
.room_ceiling {
    top: -20px;
    transform: rotateX( -75deg );
}
.room_floor {
    bottom: -20px;
    transform: rotateX( 75deg );
}
.room_content {
    height: @ROOM_HEIGHT - @ROOM_CEILING_HEIGHT - @ROOM_FLOOR_HEIGHT;
    width: 100%;

    position: absolute;
    top: @ROOM_CEILING_HEIGHT;
    z-index: 1;
}

/*******************************************
 *** Build different sized rooms
 ******************************************/
.build_room_sizes(@counter) when (@counter >= 0) {
    .build_room_sizes((@counter - 1));

    .room_size_@{counter} when (@counter > 0) { width: @ROOM_WIDTH * (@counter); }
    .room_level_size_@{counter} when (@counter > 0) { width: @ROOM_WIDTH * (@counter); }
    .room_offset_@{counter} { left: @ROOM_WIDTH * @counter; }

    .room_offset_@{counter} {
        .room_floor, .room_ceiling {
            left: ( @counter + 1 ) * -70px;
        }
    }
}
.build_room_sizes( 8 );

/*******************************************
 *** Resources
 ******************************************/

#resource_listing {
    float: right;
    margin-top: -40px;
    text-align: right;

    ul {
        .attention_bar();
        list-style-type: none;
        margin: 0;

        li {
            display: inline;
            margin-right: 10px;
        }
    }
}

/*******************************************
 *** Characters
 ******************************************/
.character {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}
