/*******************************************
 *** Configuration
 ******************************************/
@ROOM_HEIGHT: 250px;
@ROOM_WIDTH: 200px;

@ROOM_CEILING_HEIGHT: 40px;
@ROOM_FLOOR_HEIGHT: 60px;

@DARK_BACKGROUND: #222;
@DARK_BACKGROUND_TEXT: #DDD;
@LIGHT_BACKGROUND: #888;
@LIGHT_BACKGROUND_TEXT: #000;

@ZINDEX_BACKGROUND: 0;
@ZINDEX_FLOOR: 10;
@ZINDEX_DOOR: 11;
@ZINDEX_FOREGROUND: 20;
@ZINDEX_WALKING_CHARACTERS: 30;
@ZINDEX_UI: 100;

/*******************************************
 *** Helper mixins
 ******************************************/
.attention_bar() {
    background: @DARK_BACKGROUND;
    color: @DARK_BACKGROUND_TEXT;
    border-radius: 5px;
    padding: 5px;
}
.attention_bar_button() {
    background: @LIGHT_BACKGROUND;
    color: @LIGHT_BACKGROUND_TEXT;
    border-radius: 5px;
    padding: 5px;
}

/*******************************************
 *** Room style helper
 ******************************************/
.base_roomtype_color( @type, @color ) {
    .room_@{type} {
        .room_ceiling {
            background: lighten( @color, 5% );
        }
        .room_floor {
            background: darken( @color, 10% );
        }
        .room_content {
            background: @color;
        }
    }
}
.room_part_ceiling {
    top: 0;
    height: @ROOM_CEILING_HEIGHT;
    div {
        top: -80px;
        transform: rotateX( -70deg );
    }
}
.room_part_floor {
    bottom: 0;
    height: @ROOM_FLOOR_HEIGHT;
    div {
        bottom: -60px;
        transform: rotateX( 70deg );
    }
}
.room_part_ceiling, .room_part_floor {
    position: absolute;
    display: block;
    overflow: hidden;
    perspective: 400px;

    div {
        position: absolute;
        z-index: @ZINDEX_FLOOR;

        height: 200px;
        width: 200%;
        left: -50%;
    }
}
#room_listing {
    position: relative;
}
.room_door {
    position: absolute;
    z-index: @ZINDEX_DOOR;
    div {
        position: absolute;
        left: -10px;
        width: 20px;
        height: @ROOM_HEIGHT;
        background: gray;
    }
}

/*******************************************
 *** Room styles
 ******************************************/
.base_roomtype_color( conversion, #777, );
.base_roomtype_color( research, #444, );

.base_roomtype_color( outside, #87CEEB );
.base_roomtype_color( outside_door, #87CEEB );
.room_outside .room_ceiling, .room_outside_door .room_ceiling {
    background: linear-gradient( darken( #87CEEB, 10% ), #87CEEB );
}
.room_outside .room_content, .room_outside_door .room_content {
    background: linear-gradient( #87CEEB, lighten( #87CEEB, 10% ) );
}

.room_conversion .room_floor, .room_research .room_floor, .room_outside .room_floor, .room_outside_door .room_floor {
    background-size: 64px;
}

body {
    margin-top: 50px;
}

.room_level {
    height: @ROOM_HEIGHT;
    background: #222;
    position: relative;
}

/*******************************************
 *** Base room styling and perspective
 ******************************************/
.room {
    height: @ROOM_HEIGHT;
    position: absolute;
}
.room_list {
    position: relative;
}
.room_ceiling, .room_floor {
    position: absolute;
}
.room_ceiling {
    height: @ROOM_CEILING_HEIGHT;
    position: absolute;
    width: 100%;
}
.room_content {
    position: absolute;
    top: @ROOM_CEILING_HEIGHT;
    height: @ROOM_HEIGHT - @ROOM_CEILING_HEIGHT - @ROOM_FLOOR_HEIGHT;
    width: 100%;
}

/*******************************************
 *** Build different sized rooms
 ******************************************/
.build_room_sizes(@counter) when (@counter >= 0) {
    .build_room_sizes((@counter - 1));

    .room_size_@{counter} when (@counter > 0) { width: @ROOM_WIDTH * (@counter); }
    .room_level_size_@{counter} when (@counter > 0) { width: @ROOM_WIDTH * (@counter); }
    .room_offset_@{counter} { left: @ROOM_WIDTH * @counter; }
}
.build_room_sizes( 8 );

/*******************************************
 *** Resources
 ******************************************/

#resource_listing {
    float: right;
    margin-top: -40px;
    text-align: right;

    ul {
        .attention_bar();
        list-style-type: none;
        margin: 0;

        li {
            display: inline;
            margin-right: 10px;
        }
    }
}

/*******************************************
 *** Characters
 ******************************************/
.character, .static_character {
    position: relative;
    width: 32px;
    height: 32px;
    display: inline-block;
    transition: top 0.2s, left 0.2s;
    transition-timing-function: linear;

    img {
        position: absolute;
        top: 0;
        left: 0;
    }
}
.character img {
    top: -16px;
    left: -16px;
}
.character {
    z-index: @ZINDEX_WALKING_CHARACTERS;
}

/*******************************************
 *** Machines
 ******************************************/
.build_machine_offsets(@counter) when (@counter >= 0) {
    .build_machine_offsets((@counter - 1));

    .machine_offset_@{counter} {
        position: absolute;
    }
}
.build_machine_offsets( 12 );
.machine .static_character {
    position: absolute;
    left: 48px;
    top: 48px;
}

//Machines that need to have the character rendered *before* the image
.machine {
    cursor: pointer;

    .static_character {
        z-index: @ZINDEX_FOREGROUND;
    }
    .baseimage {
        z-index: @ZINDEX_FOREGROUND + 1;
        position: absolute;
    }
    .overlay {
        z-index: @ZINDEX_FOREGROUND + 2;
        position: absolute;
        transition: opacity 0.2s;
    }
}

/*******************************************
 *** Toolbars
 ******************************************/
.toolbar {
    .attention_bar();
    position: absolute;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 10px;

        li {
            display: inline;
            margin-right: 10px;
        }
    }
}

.machine .toolbar {
    top: -15px;
    left: 20px;
}

.actions_list {
    .attention_bar();

    position: relative;
    z-index: @ZINDEX_UI;

    padding: 8px 12px 5px 12px;
    .action {
        padding-bottom: 3px;
    }

    .action_allowed:hover {
        transition: background 0.5s;
        background: #555;
        cursor: pointer;
    }
    .action_allowed {
        font-weight: bold;
    }

    .action_blocked {
        color: #777;
        font-style: italic;
    }
}
/*******************************************
 *** Story bar
 ******************************************/
#story_view {
    .attention_bar();

    .buttons {
        .button {
            display: inline-block;
            border: 1px solid black;
            border-radius: 10px;
            padding: 5px 10px;
            cursor: pointer;

            background: @LIGHT_BACKGROUND;
            color: @LIGHT_BACKGROUND_TEXT;
        }
    }
}
